<hr>
<div class="post-nav" class="flex items-center -space-x-px h-10 text-base">
    <hr>
    <div>
        {% if page.previous.url %}
        <a class="hover:underline" href="{{page.previous.url | relative_url }}">
            <span class="unsighted">👈 Back to: </span>
            {{page.previous.title}}
        </a>
        {% endif %}
    </div>
    <div class="post-nav-next text-right">
        {% if page.next.url %}
        {% assign next_post_title_array = page.next.title | split: " " %}
        {% assign next_post_cape_length = next_post_title_array | size | minus: 1 %}
        {% assign next_post_cape = page.next.title | truncatewords: next_post_cape_length, "" %}
        {% assign next_post_spit = next_post_title_array | last %}
        <a class="hover:underline" href="{{ page.next.url | relative_url }}">
            <span class="unsighted">Continue to: </span>
            {{next_post_cape}}
            <span style="white-space: nowrap;">
                {{next_post_spit}}
                👉
            </span>
        </a>
        {% endif %}
    </div>
</div>